.statusActive {
    background-color: #0efa0e;
    display: block;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    border-radius: 50%;
}

.statusNoActive {
    background-color: #564d4d;
    display: block;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    border-radius: 50%;
}

.tableBeacon {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    color: white;
    margin: 2% 0;
    word-break: break-word;
}

.tableBeacon > tbody > tr {
    padding: 4px;
    line-height: 1.42857143;
    text-align: left;
    border-bottom: 1px solid #979595;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tableBeacon > thead {
    border-bottom: 1px solid #979595;
    text-align: left;
    display: block;
}

.tableBeacon > thead > tr > th {
    color: #83addd;
    text-align: center;
    margin: 0;

}

.tableBeacon > tbody > tr {
    padding: 4px;
    line-height: 1.42857143;
    text-align: left;
    border-bottom: 1px solid #979595;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tableBeacon > tbody > tr:hover {
    cursor: pointer;
    background: #2c5275;
}

.tableBeacon > tbody {
    overflow-x: hidden;
    display: block;
    width: 100%;
    max-height: 82vh;
}

.tableBeacon > thead > tr {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.tableBeacon > tbody > tr > td:nth-child(1) {
    white-space: nowrap;
    width: 70%;
    text-align: left;
    pointer-events: none;
    user-select: none;
}

.tableBeacon > tbody > tr > td:nth-child(2) {
    width: 15%;
    text-align: center;
    margin-right: 5px;
    pointer-events: none;
    user-select: none;
}

.tableBeacon > tbody > tr > td:nth-child(3) {

    text-align: center;
    margin-right: 20px;
    pointer-events: none;
    user-select: none;
}

.tableBeacon > thead > tr > th:nth-child(1) {
    white-space: nowrap;

    text-align: left;
    pointer-events: none;
    user-select: none;
}

.tableBeacon > thead > tr > th:nth-child(2) {


    text-align: right;
    pointer-events: none;
    user-select: none;
    margin-left: 220px;
}

.tableBeacon > thead > tr > th:nth-child(3) {

    margin-right: 20px;
    text-align: right;
    pointer-events: none;
    user-select: none;
}
