.main-app {
    background: #252734;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;

}

.map {
    margin: 10px;
    width: 100%;
}

.ymaps-2-1-79-copyright {
    visibility: hidden;
}

.ymaps-2-1-79-gotoymaps {
    visibility: hidden;
}

.ymaps-2-1-79-gototech {
    visibility: hidden;
}

.ymaps-2-1-79-map-copyrights-promo {
    visibility: hidden;
}

.tableBeacon {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    color: white;
    margin: 2% 0;
    word-break: break-word;
}

.tableBeacon > tbody > tr {
    padding: 4px;
    line-height: 1.42857143;
    text-align: left;
    border-bottom: 1px solid #979595;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tableBeacon > thead {
    border-bottom: 1px solid #979595;
    text-align: left;
    display: block;
}

.tableBeacon > thead > tr > th {
    color: #83addd;
    text-align: center;
    margin: 0;
    margin-right: 35px;
}

.tableBeacon > tbody > tr {
    padding: 4px;
    line-height: 1.42857143;
    text-align: left;
    border-bottom: 1px solid #979595;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tableBeacon > tbody > tr:hover {
    cursor: pointer;
    background: #2c5275;
}

.selectedPPC {
    cursor: pointer;
    background: #2c5275;
    pointer-events: none;
}

.selectedPPC > td {
    user-select: text!important;
}


.errorPPC {
    pointer-events: none!important;
    background: #ff0000 !important;
}

.tableNoPointer{
    cursor: wait!important;
}


.tableNoPointer > tbody > tr{
    cursor: wait!important;
    pointer-events: none;
}


.tableBeacon > tbody > tr > td:nth-child(1) {
    white-space: nowrap;
    margin-right: 30px;
    width: 2%;
    text-align: center;
    pointer-events: none;
    user-select: none;
}

.tableBeacon > tbody > tr > td:nth-child(2) {
    width: 70%;
    pointer-events: none;
    user-select: none;
}

.tableBeacon > tbody > tr > td:nth-child(3) {
    width: 20%;
    text-align: end;
    margin-right: 5px;
    pointer-events: none;
    user-select: none;
}

.tableBeacon > tbody {
    overflow-x: hidden;
    display: block;
    width: 100%;
    max-height: 82vh;
}

.tableBeacon > thead > tr {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.tableBeacon > thead > tr > th:nth-child(3) {
    margin-right: 24px;
    width: 20%;
    text-align: end;
    pointer-events: none;
    user-select: none;
}

.tableBeacon > thead > tr > th:nth-child(2) {
    width: 70%;
    margin-left: 10px;
    text-align: start;
    pointer-events: none;
    user-select: none;
}

.tableBeacon > thead > tr > th:nth-child(1) {
    width: 2%;
    text-align: center;
    margin-right: 10px;
    pointer-events: none;
    user-select: none;
}

.divTable {
    width: 27%;
    background: #282a38;
    padding: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    position: fixed;
    right: 10px;
}

.pagePpc {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.reportPPC {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    /*background: #2c5275;*/
    position: relative;
}

.imgTanger{
    width: 100%;
}

.imgWheels{
    position: absolute;
    width: 100%;
    transition: 0.5s;
    top: 0;
}

.up{
    top: -50px;
}

.upOs{
    transition: 0.5s;
    transform: translate(0px, -235%);
}

.wheelInfoblock {
    /*background: white;*/
    height: 5%;
    width: 10%;
    border-radius: 20px;
    position: absolute;
}

.wheelInfoblock > p{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: 600;
    position: absolute;
    font-size: 2em;
    bottom: 5%;
    text-shadow: 2px 2px 2px #000000;
}

.osInfoBlock {
    /*background: red;*/
    height: 4%;
    width: 2%;
    /*border-radius: 100%;*/
    position: absolute;
    z-index: 1;
    transition: 0.5s;
}

.osInfoBlock > p{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: 600;
    position: absolute;
    font-size: 2em;
    bottom: 5%;
    text-shadow: 2px 2px 2px #000000;
}

.wheel1{
    top: 20%;
    left: 67%;
}
.os1 {
    top: 43%;
    right: 22%;
}
.wheel2{
    top: 59%;
    left: 88%;
}

.wheel3{
    top: 27%;
    left: 57%;
}
.os2 {
    top: 52%;
    right: 31%;
}
.wheel4{
    top: 67%;
    left: 78%;
}

.wheel5{
    top: 34%;
    left: 46%;
}
.os3 {
    top: 62%;
    right: 41%;
}
.wheel6{
    bottom: 17%;
    left: 66%;
}

.wheel7{
    top: 41%;
    left: 36%;
}
.os4 {
    top: 70%;
    right: 50%;
}
.wheel8{
    bottom: 13%;
    left: 57%;
}

.battery {
    position: absolute;
    width: 8%;
    height: 22%;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battery > img{
    position: absolute;
    bottom: 25%;
    width: 100%;
}

.battery > p{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: 600;
    position: absolute;
    font-size: 2em;
    bottom: 5%;
    text-shadow: 2px 2px 2px #000000;
}

.speed {
    position: absolute;
    width: 8%;
    height: 22%;
    top: 0%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speed > img{
    position: absolute;
    bottom: 25%;
    width: 100%;
}

.speed > p{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: 600;
    position: absolute;
    font-size: 2em;
    bottom: 5%;
    text-shadow: 2px 2px 2px #000000;
}

.iconStop {
    position: absolute;
    width: 7%;
    top: 3%;
    left: 31%;
}

.сompressor {
    position: absolute;
    width: 8%;
    height: 22%;
    top: 0%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.сompressor > img{
    position: absolute;
    bottom: 25%;
    width: 100%;
}

.сompressor > p{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: 600;
    position: absolute;
    font-size: 2em;
    bottom: 5%;
    text-shadow: 2px 2px 2px #000000;
}

.beaconMenuButton {
    width: 40px;
    height: 30px;
    margin: 1%;
    border-radius: 16%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s;
}

.searchField > input {
    display: flex;
    margin: 2% 2% 2% 0;
    width: 100%;
    color: white;
    background-color: #252734;
}

.searchField {
    width: 98%;
}

.beaconMenuButtonInside {
    display: block;
    padding: 1px;
    background-color: rgb(102, 102, 102);
    width: 70%;
    margin: 1px auto;
    height: 2px;
    border-radius: 18%;
}

.energyIcon {
    width: 20px;
    height: 20px;
}

.energyParagraph{
    display: inline;
    position: relative;
    top: -4px;
    right: -5px;
    font-weight: 600;
}

.ymaps-2-1-79-balloon {
    top: -130px!important;
}

